.my-account{
    display: flex;
    /* color: #DBDBDB; */
    color: #a4a7b2;
}
.my-account>nav{
    width: 320px;
    /* background-color: #262626; */
    /* background-color: #F46149; */
    /* background-color: #F8F8F8; */
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;
}
.my-account>nav>div{
    padding: 20px 0;
    cursor: pointer;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.my-account>nav>div>div{
    width: 25px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}
.img-before{
    display: flex;
}
.my-account>nav>div:hover{
    background-color: #f4604921;
    border-left: 5px solid #f46149;
    color: #f46149
}
.img-hover{
    display: none;
}
.my-account>nav>div:hover > .img-before{
    display: none;
}
.my-account>nav>div:hover > .img-hover{
    display: flex;
}
.my-account>main{
    width: 100%;
    /* background-color: #f5f5f5; */
    /* background-color:  #F3D2BD; */
    background-color: #F8F9FB;
    min-height: 100vh;
    padding: 50px 0;
}
#profile-info{
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    background-color: #f4604911;
    padding: 10px 20px;
    border-radius: 50px;
}
#profile-info>div{
    width: 60px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#profile-info>p{
    letter-spacing: 1px;
    font-weight: bolder;
    color: #f46149;
}
/* logo */
.my-account .account-logo{
    margin: 30px 0;
}
.my-account .account-logo>a{
    cursor: pointer;
    color: #3d3c43;
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-account .account-logo>a>div{
    width: 50px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-account .account-logo>a>p{
    margin-left: 5px;
}
/* create new doc */
.my-account .create-new-doc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.my-account .create-new-doc>p{
    cursor: pointer;
    background-color: #f46149;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}
.my-account .create-new-doc>div{
    width: 40px;
    margin-left: 10px;
}
/* my documents / collab documents */
.handle-docs-wrap{
    color: #3d3c43;
}
.handle-docs-wrap>header{
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
    font-weight: bolder;
}
.handle-docs-wrap>div{
    width: 500px;
    height: 3px;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.handle-docs-wrap>main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.handle-docs-wrap>main>a{
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 10px;
    height: 150px;
    border-radius: 10px;
}
.handle-docs-wrap>main>a:hover{
    background-color: #eeeeee;
    /* background-color: #f4604921;
    color: #f46149; */
}
.handle-docs-wrap>main>a .doc-item-name{
    font-weight: bold;
    margin-bottom: 10px;
}
.handle-docs-wrap>main>a .doc-item-time{
    font-style: italic;
    color: #979797;
    font-size: 14px;
}
/* account setting */
.account-setting{
    text-align: center;
    margin: 0 auto;
}
.account-setting .user-photo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-setting .user-photo>div{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}
.account-setting .user-photo>div>img{
    min-width: 100%;
    min-height: 100%;
}
.account-setting .user-photo #photo-edit{
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #ffffff28;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    top: auto;
}
.account-setting .user-photo:hover > #photo-edit{
    display: flex;
}
#photo-edit>label{
    width: 50px;
}
#photo-edit>input{
    visibility:hidden;
    width:0;
    height:0
}