.my-account{
    display: flex;
    color: #a4a7b2;
    height: 100vh;
}
.my-account>nav{
    width: 320px;
    background-color: #ffffff;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.my-account>nav>div{
    padding: 20px 0;
    cursor: pointer;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.my-account>nav>div>div{
    width: 25px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}
/* nav hover animation */
.my-account>nav>div:hover{
    background-color: #f4604921;
    border-left: 5px solid #f46149;
    color: #f46149
}
.img-hover{
    display: none;
}
.img-before{
    display: flex;
}
.my-account>nav>div:hover > .img-before{
    display: none;
}
.my-account>nav>div:hover > .img-hover{
    display: flex;
}
.my-account>main{
    width: 100%;
    overflow-y: scroll;
    background-color: #F8F9FB;
    min-height: 100vh;
    padding: 50px 0;
}
#profile-info{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#profile-info>div{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
}
#profile-info>p{
    letter-spacing: 1px;
    font-weight: bolder;
    color: rgba(0, 0, 0, .8);
}
/* logo */
.my-account .account-logo{
    margin: 30px 0;
}
.my-account .account-logo>a{
    cursor: pointer;
    color: #3d3c43;
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.my-account .account-logo>a>div{
    width: 50px;
    margin-right: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.my-account .account-logo>a>p{
    font-size: 30px;
}
/* create new doc */
.my-account .create-new-doc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 30px 30px;
    cursor: pointer;
    background-color: #f46149;
    color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    line-height: 25px;
}
.my-account .create-new-doc>div{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
/* footer */
.my-account>nav footer{
    display: none;
}
/* my documents / collab documents */
.handle-docs-wrap{
    color: #3d3c43;
}
.handle-docs-wrap>header{
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
    font-weight: bolder;
}
.handle-docs-wrap>div{
    width: 500px;
    height: 3px;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.handle-docs-wrap>main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.handle-docs-wrap>main>a{
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 10px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    transition-delay: 1s;
}
.handle-docs-wrap>main>a:hover{
    background-color: #f4604921;
    color: #f46149;
}
.handle-docs-wrap>main>a .doc-item-name{
    font-weight: bold;
    margin-bottom: 10px;
}
.handle-docs-wrap>main>a .doc-item-time{
    font-style: italic;
    color: #979797;
    font-size: 14px;
}
.handle-docs-wrap>main>a button{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 27px;
    height: 27px;
    padding: 0;
    background-color: transparent;
    opacity: .5;
    border: none;
}
.handle-docs-wrap>main>a button:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    10%, 90%{transform: translateX(-1px);}
    20%, 80%{transform: translateX(2px);}
    30%, 50%, 70%{transform: translateX(-2px);}
    40%, 60%{transform: translateX(2px);}
}
/* alert message */
.alert-message{
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
}
.alert-message>div{
    background-color: #ffffff;
    margin-top: 50px;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 -3px 7px rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
}
.alert-message .delete-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #979799;
}
.alert-message header{
    padding: 10px 0;
    background-color: #eeeeee;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: #979799;
}
.alert-message .alert-message-text{
    margin: 50px;
    color: #979799;
}
.alert-message button{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
.alert-message .cancel{
    background-color: #ffffff;
    color: #979797;
}
.alert-message .delete{
    background-color: #f54e29d5;
    color: #ffffff;
}
/* account setting */
/* photo edit */
.account-setting{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.account-setting .user-photo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-setting .user-photo>div{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.account-setting .user-photo #photo-edit{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #ffffff28;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    top: auto;
}
.account-setting .user-photo:hover > #photo-edit{
    display: flex;
}
#photo-edit>label{
    cursor: pointer;
    width: 50px;
}
#photo-edit>input{
    visibility:hidden;
    width:0;
    height:0
}
/* name edit */
.user-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
}
.user-name .user-name-edit-btn{
    width: 22px;
    height: 22px;
    margin: 0 10px;
    cursor: pointer;
}

@media(max-width: 800px){
    .my-account nav{
        width: 88px;
        box-shadow: 2px 0 4px rgba(0, 0, 0, .1);
    }
    .account-logo,
    .create-new-doc p,
    .my-account nav>div p,
    #profile-info{
        display: none;
    }
    /* .my-account .account-logo>a{
        padding-left: 0;
        justify-content: center;
    }
    .my-account .account-logo>a>div{
        margin: 0;
    } */
    .my-account .create-new-doc{
        margin: 25px auto; 
        width: 40px;
        height: 40px;
        padding: 0;
    }
    .my-account .create-new-doc>div{
        margin: 0;
    }
    .handle-docs-wrap>div{
        width: 80%;
    }
    .my-account>nav footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 15px;
        position: absolute;
        bottom: 0;
    }
}