*{box-sizing: border-box;}
button:focus{outline: none;}
.doc{
    overflow:scroll;
    height: calc(100vh - 62px);
    background-color: #F8F9FA;
}
.docHeader{
    position: -webkit-sticky;
    position: sticky;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #2C3E50;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.docHeader>div{
    display: flex;
    align-items: center;
}
.docHeader .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-left: 10px;
}
.docname{
    border: 1px dashed transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}
.docname:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.docname>input{
    border: none;
    font-size: 20px;
    width: 180px;
    color: #2C3E50;
}
.docname>button{
    width: 30px;
    background-color: transparent;
    opacity: .5;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.docname>button:hover{
    opacity: .8;
}
.store-state{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-around;
}
.upload-icon{
    width: 30px;
    display: flex;
    align-items: center;
}
/* right */
#header-nav-mobile .share,
.headerright .share{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    margin: 0 20px;
    cursor: pointer;
}
#header-nav-mobile .share,
.headerright .share img:hover{
    opacity: .8;
    width: 30px;
}
.img-on-hover{
    opacity: .8;
    width: 30px;
}
#header-nav-mobile .share>a,
.headerright .share>a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-nav-mobile .share-list,
.headerright .share-list{
    position: absolute;
    width: 300px;
    top:59px;
    right: 60px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
}
#header-nav-mobile .share-list main,
.headerright .share-list main{
    font-size: 14px;
    padding-bottom: 10px;
}
#header-nav-mobile .share-list .section1,
.headerright .share-list .section1{
    position: relative;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
#header-nav-mobile .share-list .section1>main>span,
.headerright .share-list .section1>main>span{
    color: #F54F29;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
}
#header-nav-mobile .share-list article,
.headerright .share-list article{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
#header-nav-mobile .share-list article .href-url,
.headerright .share-list article .href-url{
    width: 65%;
    padding: 5px 10px;
    font-size: 10px;
    overflow: hidden;
    background-color: #dddddd;
    margin-right: 5px ;
    border-right: 1px solid #dddddd ;
    color: rgba(0, 0, 0, 0.5);
    white-space:nowrap;
}
#header-nav-mobile .share-list article .href-url>input,
.headerright .share-list article .href-url>input{
    border: none;
    background-color: #dddddd;
    padding: 0;
    color: rgba(0, 0, 0, 0.4)
}
#header-nav-mobile .share-list article .href-btn,
.headerright .share-list article .href-btn{
    cursor: pointer;
    width: 35%;
    text-align: center;
    font-size: 12px;
}
#header-nav-mobile-icon{
    align-items: center;
    justify-content: center;
    width: 25px;
    margin: 0 20px;
    cursor: pointer;
    display: none;
}
.headerright .online-state{
    display: flex;
    position: relative;
}
.headerright .online-total{
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    padding: 0 5px;
    height: 35px;
    line-height: 35px;
    background-color: #F54F29;
    border-radius: 10px;
    color: #f5f5f5;
}
.headerright .online-total>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    margin-right: 5px;
}
.headerright .online-state:hover>.online-list{
    display: block;
    z-index: 2;
}
.headerright .online-state:hover>.online-total{
    background-color: #a52e13;
}
#online-total-mobile{
    display: none;
}
.online-list{
    display: none;
    position: absolute;
    width: 190px;
    top: 40px;
    right: 0;
    border: 1px solid #979797;
    background-color: #ffffff;
}
.online-list>div{
    padding: 5px 0;
    border-bottom: 1px solid #979797 ;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}
.online-list>div>div{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #F54F29;
    margin: 0 10px;
}

/* docPrevStep */
.docPrevStep{
    width: 100vh;
    margin: 0 auto;
    text-align: center;
}
.docPrevStep .container{
    position: fixed;
    top:0;left: 0;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.docPrevStep .container>button{
    cursor: pointer;
    background-color: #F54F29;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}
.docPrevStep .container>button:hover{
    background-color: #e05232;
    font-size: large;
    border: 4px solid #e05232;
}
/* nav-mobile */
#header-nav-mobile{
    display: none;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    top: auto;

}
@media(max-width: 680px){
    #online-total-mobile{
        display: flex;
        width: 50px;
    }
    #online-total-web{
        display: none;
    }
}
@media(max-width: 600px){
    #upload-text{
        display: none;
    }
    .docHeader .store-state{
        position: fixed;
        padding: 8px;
        width: 50px;
        height: 50px;
        bottom: 80px;
        right: 20px;
    }
}
@media(max-width: 450px){
    .docHeader .headerright .share{
        margin: 0;
        width: 50px;
        height: 50px;
        padding: 10px;
        position: fixed;
        bottom: 130px;
        right: 20px;
    }
    .docHeader .headerright .share-list{
        position: fixed;
        bottom: 10px;
        top: auto;
        right: 80px;
        width: 270px;
    }
}
