*{box-sizing: border-box;}
.docHeader{
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}
.docHeader>div{
    display: flex;
    align-items: center;
}

.logo{
    width: 55px;
    margin: 0 15px;
}
.docname{
    border: 1.5px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    /* width: 200px; */
    padding: 8px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}
.docname:hover{
    border: 1.5px solid rgba(0, 0, 0, 0.2);
}
.docname>input{
    border: none;
    font-size: 30px;
    width: 160px;
}
.docname>button{
    width: 32px;
    background-color: transparent;
    opacity: .5;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.docname>button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    opacity: .8;

}
.store-state{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
}
/* .store-state>div{
    flex: 1;
} */
.upload-icon{
    width: 35px;
}
.download{
    width: 50px;
}
.online-state>div{
    width: 50px;
}

/* docPrevStep */
.docPrevStep{
    /* position: fixed;
    top:0;left:0;
    height: 100vh; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center; */
}
.docPrevStep .container{
    position: fixed;
    top:0;left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .docPrevStep>div{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.docPrevStep>div>div{
    width: 3px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 30px;
}
.docPrevStep>button{
    text-align: center;
    margin: 0 auto;
    
} */