img{width: 100%;}
/* btns */
.doc-btn .btns-wrap{
    overflow-x: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}
.doc-btn .btns{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    min-width: 550px;
}
/* little btns */
.doc-btn .btns>button,
.doc-btn .btns .font-size-btn-arrow>button,
.doc-btn .btns .colorbtn,
.doc-btn .btns .background-colorbtn,
.img-btn>div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}
#color-input,
#background-color-input{
    width: 100%;
    background-color: transparent;
    background-image: url('/images/color.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-appearance: none;
	border: none;
    padding: 18.5px 0 0.5px;
    cursor: pointer;
}
#background-color-input{
    background-image: url('/images/color-fill.png');
}
.doc-btn .btns>button:hover,
.doc-btn .btns .font-size-btn-arrow>button:hover,
.doc-btn .btns .colorbtn:hover,
.doc-btn .btns .background-colorbtn:hover,
.img-btn>div:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
}
::-webkit-color-swatch {
    border: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
}
::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}
::-moz-focus-inner {
    padding: 0;
}
.font-size-btn{
    display: flex;
    align-items: center;
    position: relative;
}
.font-size-btn-input{
    border-radius: 10px;
    border: 1px solid #eeeeee;  
}
.font-size-btn-input>input{
    text-align: center;
    width: 35px;
    line-height: 1.3;
}
.font-size-btn-arrow>button{
    width: 40px;
}
.font-size-btn-list{
    text-align: center;
    border: 1px solid #979797;
    background-color: #ffffff;
    position: fixed;
    /* position:device-fixed; */
    z-index: 99999;
    left: auto;
    top: 118px;
    width: 36px;
    padding: 0;
    margin: 0 5px;
}
.font-size-btn-list>button{
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding: 3px 10px;
    font-size: 12px;
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.font-size-btn-list>button:hover{
    background-color: #eeeeee;
}
.img-btn>div>label{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.img-btn>div>input{
    visibility:hidden;
    width:0;
    height:0
}
/* functions */
.clear{
    background-color: #ffffff;
    font-weight: normal;
    color: black;
    font-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    line-height: 1;
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.un-bold{
    font-weight: normal;
}
.un-italic{
    font-style: normal;
}
.un-color{
    background-color: #ffffff;
    color: #000000;
}
/* drag img */
#selectable-area img{
    width: 100%;
}
.gragging{
    opacity: .25;
}