*{box-sizing: border-box; font-family: 'Ubuntu', sans-serif;}
img{width: 100%;}
input:focus{outline: none;}
a{text-decoration: none; color: rgba(0, 0, 0, 0.8); line-height: 1;}
button:focus{outline: none;}
p{margin: 0;}
html{scroll-behavior: smooth;}
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* background */
.background{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top;
    height: 150vh;
    position: relative;
    overflow: hidden;
}
.homepage{
    transition: all 1.5s ease-out 0s;
}
.homepage .main-pic{
    position: absolute;
    width: 1200px;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.6s linear 0s;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.3);
}
.homepage .main-pic.main-pic-in-viewport{
    bottom: 300px;
}
/* header */
.homepage-wrap>header{
    width: 100%;
}
.homepage-wrap>header>header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 60px;
    margin: 0 auto;
}
.homepage-wrap .member{
    width: 42px;
    height: 42px;
}
.homepage-wrap .logo{
    font-size: 28px;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 1px;
    text-align: center;
}
.homepage-wrap .logo>a{
    color: #F54F29;
}
.sticky{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    background-color: #ffffffe1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    transition: all 0.5s ease-out 0s;
}
/* header nav */
.homepage-wrap>header>header>button{
    display: none;
}
.homepage-wrap .nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.homepage-wrap .nav>section{
    display: flex;
}
.homepage-wrap .nav>section>a{
    cursor: pointer;
    margin-left: 30px;
}
.homepage-wrap .nav>section>a:hover{
    color: #F54F29;
}
/* member nav */
.homepage-wrap .member{
    position: relative;
    margin-right: 0;
    cursor: pointer;
    margin-left: 30px;
}
.homepage-wrap .memberNav{
    position: absolute;
    top: 42px;right: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5de;
    border-radius: 10px;
    padding: 10px 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    display: none;
    border-top: 4px solid #f5f5f5de;
    z-index: 4;
}
.homepage-wrap .member:hover > .memberNav{
    display: block;
}
.homepage-wrap .memberNav>div,
.homepage-wrap .memberNav>a{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    margin: 5px 0;
    padding: 8px;
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-out 0s;
}
.homepage-wrap .memberNav>div:hover{
    margin-left: 18px;
}
/* introduction */
.homepage{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}
.homepage .introduction{
    width: 100%;
    padding-top: 90px;
    z-index: 2;
}
.homepage .intro-text{
    margin: 120px auto;
    width: 700px;
    text-align: center;
    transition: all 1.5s cubic-bezier(0.6, -0.1, 0.735, 0.045) 1s;
}
.homepage .intro-text .title{
    font-size: 62px;
    font-weight: bolder;
    margin-bottom: 20px;
    transition: all 1.5s ease-out 0s;
}
.homepage .intro-text .intro-lines{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.8;
    transition: all 1.5s ease-out 0s;
}

/* introduction btns */
.homepage .btns{
    margin: 50px auto;
    width: 500px;
    margin-bottom: 60px;
    z-index: 2;
    transition: all 1.5s ease-out 0s;
}
#create-doc-btn,
#member-btn{
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    width: 190px;
    margin: 0 30px;
    line-height: 2.4;
    font-size: 18px;
    border-radius: 10px;
    transition-duration: .3s;
    border: 3px solid #F54F29;
}
#create-doc-btn{
    color: #ffffff;
    background-color: #F54F29;
}
#member-btn{
    color: #F54F29;
    background-color: #ffffff;
}
#member-btn>a{
    color: #F54F29;
}
#create-doc-btn:hover,
#member-btn:hover{
    background-color: #FFD393;
    border: 3px solid #FFD393;
    color: #F54F29;
}
/* features */
.section2>main{
    font-weight: bold;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    text-align: center;
    padding: 70px 0;
}
.section2>main .title{
    font-size: 45px;
    color: #F54F29;
    margin-bottom: 50px;
}
#slide-container{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.section2>main .slide{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.section2>main .slide>div>img{
    width: 250px;
    margin: 0 30px;
    padding: 60px;
    background-color: #f54e29e1;
    border-radius: 8%;
}
.section2>main .slide>div .img2{
    background-color: #FFD393;
}
.section2>main .slide>div .img4{
    background-color: #9C9B7A
}
.section2>main .slide>div .img3{
    background-color: #3e5a13
}
.section2>main .slide>div>div{
    margin: 10px 0;
    color: #8d8c8c;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
}
.section2>main #slide-dots{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2>main #slide-dots>div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dddddd;
    margin: 0 10px;
}
/* section3 */
.section3{
    padding: 50px 0;
    overflow: hidden;
}
.section3 .section3-main{
    padding: 0 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
    width: 100%;
    display: flex;
    transform: translateX(1700px);
    transition: transform .5s ease-out;
}
.section3 .section3-main-middle{
    transform: translateX(-1700px);
}
.section3>main>article{
    width: 40%;
    padding-top: 30px;
}
.section3>main>div{
    width: 60%;
    padding: 0 60px;
}
.section3>main>article>p{
    color: #F54F29;
    font-weight: bold;
    font-size: 20px;
}
.section3>main>article>main{
    font-size: 36px;
    font-weight: bold;
    margin: 7px 0 15px;
}
.section3>main>article>div{
    font-size: 18px;
    line-height: 1.5;
}
.section3-main-in-viewport{
    transform: translateX(0) !important;
}
/* document-layout */
.document-layout{
    display: flex;
    width: 100%;
}
.document-layout .chat-app{
    width: 35%;
}
.document-layout .container{
    z-index: 2;
    width: 65%;
}
@media(max-width: 1440px){
    .homepage .main-pic{
        /* bottom: -150px; */
        bottom: -100px;
        width: 1000px;
    }
    .homepage .main-pic.main-pic-in-viewport{
        /* bottom: -30px; */
        /* bottom: 200px; */
        bottom: 10px;
    }
}
@media(max-width: 1280px){
    .homepage .main-pic{
        /* bottom: -150px; */
        bottom: -110px;
        width: 900px;
    }
    .homepage .main-pic.main-pic-in-viewport{
        bottom: 0px;
        /* bottom: 200px; */
    }
}
@media(max-width: 1040px){
    .homepage .main-pic{
        bottom: -100px;
        /* bottom: -50px; */
        width: 800px;
    }
    .homepage .main-pic.main-pic-in-viewport{
        bottom: 0px;
    }
    .section3 .section3-main{
        flex-direction: column;
        align-items: center;
    }
    .section3 .section3-main>article{
        width: 100%;
        text-align: center;
    }
    .section3 .section3-main>div{
        width: 100%;
    }
    .section3 .section3-main-middle>div{
        order: 2;
    }
}
@media(max-width: 950px){
    .section2>main .slide>div>img{
        width: 200px;
        padding: 50px;
    }
}
@media(max-width: 900px){
    .document-layout{
        position: relative;
    }
    .document-layout .container{
        width: 100%;
    } 
    .document-layout .chat-app{
        position: fixed;
        z-index: 5;
        right: 20px;
        bottom: 20px;
        width: 380px;
        border-radius: 5px;
        height: 650px;
        box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
        -moz-box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
        -webkit-box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
        -o-box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
    }
    .homepage .main-pic{
        bottom: -100px;
        width: 90%;
    }
    .homepage .main-pic.main-pic-in-viewport{
        bottom: 0px;
    }
}
@media(max-width: 780px){
    .homepage-wrap>header>header{
        padding: 6px 30px;
    }
    .homepage-wrap>header>header>button{
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        width: fit-content;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homepage-wrap>header>header>button>img{
        width: 35px;
        height: 35px;
    }
    .homepage-wrap .nav>section{
        position: fixed;
        /* display: none; */
        flex-direction: column;
        background-color: #ffffffef;
        width: 100%;
        top: 54px;
        left: -100%;
        bottom: 0;
        height: 100vh;
        z-index: 99;
        padding: 20px 10px;
        transition: all 0.5s ease-out;
    }
    .homepage-wrap .nav>section>a{
        margin: 0 40px 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #979797;
    }
    .homepage-wrap .nav>section>a:hover{
        border-bottom: 1px solid #F54F29;
    }
    .homepage-wrap .member{
        margin-left: 0;
        width: 35px;
        height: 35px;
    }
    .homepage .introduction{
        padding-top: 50px;
    }
    .homepage .intro-text{
        margin: 50px auto;
        width: 100%;
        padding: 0 25px;
    }
    .homepage .intro-text .title{
        font-size: 48px;
    }
    .homepage .intro-text .intro-lines{
        font-size: 18px;
    }
    .homepage .btns{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }
    .homepage .btns>a{
        max-width: 300px;
        width: 100%;
    }
    #create-doc-btn,
    #member-btn{
        max-width: 300px;
        width: 100%;
        margin: 10px 0;
    }
    .homepage .main-pic{
        position: static;
        margin-top: 60px;
    }
    .homepage .main-pic.main-pic-in-viewport{
        margin-top: 10px;
    }
    .background{
        height: auto;
    }
    .section2>main .slide>div>img{
        margin: 0 15px;
    }
}
@media(max-width: 600px){
    .document-layout .chat-app{
        width: 350px;
        height: 600px;
    }
    .section2>main .slide>div>img{
        width: 150px;
        padding: 40px;
        margin: 0 15px;
    }
}
@media(max-width: 450px){
    .document-layout .chat-app{
        bottom: auto;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .homepage .intro-text{
        margin: 30px auto;
    }
    .homepage .intro-text .title{
        font-size: 40px;
    }
}