*{box-sizing: border-box;}
img{width: 100%;}
input:focus{outline: none;}
a{text-decoration: none; color: rgba(0, 0, 0, 0.8); line-height: 1;}
button:focus{outline: none;}
p{margin: 0;}
html{scroll-behavior: smooth;}

body{
    margin: 0;
    padding: 0;
}
/* background */
.background{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top;
    height: 150vh;
    position: relative;
    overflow: hidden;
}
.homepage{
    transition: all 1.5s ease-out 0s;
}
.homepage .main-pic{
    position: absolute;
    width: 1000px;
    bottom: -150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.6s linear 0s;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.2);
}
.homepage .main-pic.main-pic-in-viewport{
    bottom: -30px;
}
/* header */
.homepage-wrap>header{
    width: 100%;
}
.homepage-wrap>header>header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 60px;
    margin: 0 auto;
}
.homepage-wrap .member{
    width: 42px;
    height: 42px;
}
.homepage-wrap .logo{
    font-size: 28px;
    font-weight: bolder;
    margin-left: 8px;
    letter-spacing: 1px;
    text-align: center;
}
.homepage-wrap .logo>a{
    color: #F54F29;
}
.sticky{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffe1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    transition: all 0.5s ease-out 0s;
}
/* header nav */
.homepage-wrap .nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.homepage-wrap .nav>a{
    cursor: pointer;
    margin-left: 30px;
}
.homepage-wrap .nav>a:hover{
    color: #F54F29;
}
/* member nav */
.homepage-wrap .member{
    position: relative;
    margin-right: 0;
    cursor: pointer;
    margin-left: 30px;
}
.homepage-wrap .memberNav{
    position: absolute;
    top: 42px;right: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5de;
    border-radius: 10px;
    padding: 10px 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    display: none;
    border-top: 4px solid #f5f5f5de;
    z-index: 4;
}
.homepage-wrap .member:hover > .memberNav{
    display: block;
}
.homepage-wrap .memberNav>div,
.homepage-wrap .memberNav>a{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    margin: 5px 0;
    padding: 8px;
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-out 0s;
}
.homepage-wrap .memberNav>div:hover{
    margin-left: 18px;
}
/* introduction */
.homepage{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}
.homepage .introduction{
    width: 100%;
    padding-top: 90px;
    z-index: 2;
}
.homepage .intro-text{
    margin: 120px auto;
    width: 700px;
    text-align: center;
    transition: all 1.5s cubic-bezier(0.6, -0.1, 0.735, 0.045) 1s;
}
.homepage .intro-text .title{
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 15px;
    transition: all 1.5s ease-out 0s;
}
.homepage .intro-text .intro-lines{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
    transition: all 1.5s ease-out 0s;
}

/* introduction btns */
.homepage .btns{
    margin: 50px auto;
    width: 500px;
    margin-bottom: 60px;
    z-index: 2;
    transition: all 1.5s ease-out 0s;
}
#create-doc-btn,
#member-btn{
    cursor: pointer;
    width: 190px;
    margin: 0 30px;
    line-height: 2.4;
    font-size: 18px;
    border-radius: 10px;
    transition-duration: .3s;
    border: 3px solid #F54F29;
}
#create-doc-btn{
    color: #ffffff;
    background-color: #F54F29;
}
#member-btn{
    color: #F54F29;
    background-color: #ffffff;
}
#member-btn>a{
    color: #F54F29;
}
#create-doc-btn:hover,
#member-btn:hover{
    background-color: #FFD393;
    border: 3px solid #FFD393;
    color: #F54F29;
}
/* features */
.section2>main{
    font-weight: bold;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    text-align: center;
    padding: 70px 0;
}
.section2>main .title{
    font-size: 45px;
    color: #F54F29;
    margin-bottom: 50px;
}
#slide-container{
    /* max-width: 750px; */
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    /* box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.2),
    inset 10px 0 10px -10px rgba(0, 0, 0, 0.2) */
}
.section2>main .slide{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.section2>main .slide>div>img{
    width: 250px;
    margin: 0 30px;
    padding: 60px;
    background-color: #f54e29e1;
    border-radius: 8%;
}
.section2>main .slide>div .img2{
    background-color: #FFD393;
}
.section2>main .slide>div .img4{
    background-color: #9C9B7A
}
.section2>main .slide>div .img3{
    background-color: #3e5a13
}
.section2>main .slide>div>div{
    margin: 10px 0;
    color: #8d8c8c;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
}
.section2>main #slide-dots{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2>main #slide-dots>div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dddddd;
    margin: 0 10px;
}
/* section3 */
.section3{
    padding: 50px 0;
}
.section3>main{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
}
.section3>main>article{
    width: 40%;
    padding-top: 30px;
}
.section3>main>div{
    width: 60%;
    padding: 60px;
}
.section3>main>article>p{
    color: #F54F29;
    font-weight: bold;
    font-size: 18px;
}
.section3>main>article>main{
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0 8px;
}
/* Auth */
.memberBlock{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top:0;left:0;
    z-index: 2;
    width: 100%;
    padding: 100px 20px;
}
.signUpBlock,
.signInBlock{
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
}
.close-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2;
    width: 35px;
}

.memberBlock .signInBlock .google-signin,
.memberBlock .signInBlock .facebook-signin{
    width: 500px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2.5px 2.5px 2.5px 1px rgba(0, 0, 0, 0.2)
}
.memberBlock .signInBlock .facebook-signin{
    background-color: #3b5998;
    color: #ffffff;
}
.memberBlock .signInBlock .google-signin{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.memberBlock .signInBlock .facebook-signin>div{
    width: 50px;
    height: 50px;
}
.memberBlock .signInBlock .google-signin>div,
.memberBlock .signInBlock .facebook-signin>div{
    width: 45px;
    height: 45px;
    margin: 0 10px;
}
.memberBlock .signInBlock .seperator{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
}
.memberBlock .signInBlock .seperator .seperator-line{
    height: 2px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 20px;
}
.memberBlock .signInBlock .email-signin,
.memberBlock .signUpBlock .email-signup{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.memberBlock .signInBlock .email-signin>div,
.memberBlock .signUpBlock .email-signup>div{
    margin: 20px auto;
    width: 300px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.memberBlock .signInBlock .email-signin>div>input,
.memberBlock .signUpBlock .email-signup>div>input{
    width: 280px;
    border: none;
    line-height: 2;
    font-size: 14px;
}
.memberBlock .signInBlock .email-signin>button,
.memberBlock .signUpBlock .email-signup>button{
    background-color: #FFD393;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 300px;
    border: none;
    padding: 15px 0;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 2.5px 2.5px 2.5px 1px rgba(0, 0, 0, 0.2)
}
.reminder{
    color: rgba(0, 0, 0, 0.6);
    margin: 20px 0 10px;
    text-align: center;
}
.reminder>span{
    cursor: pointer;
}
.reminder>span:hover{
    color: #F54F29;
}

/* Create New Doc */
.createDoc .doc-name-div{
    width: 100%;
    border-bottom: 3px solid #9C9B7A;
    /* background-color: #9C9B7A; */
    margin: 20px 0;
}
.createDoc #doc-name{
    text-align: center;
    background-color: transparent;
    width: 100%;
    border: none;
    line-height: 2;
    font-size: 22px;
    border-radius: 5px;
}
.createDoc #doc-name:focus{
    background-color: rgba(0, 0, 0, 0.05);
}
.createDoc #submit-doc-name-btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
}

/* document-layout */
.document-layout{
    display: flex;
    width: 100%;
}
.document-layout .chat-app{
    width: 35%;
}
.document-layout .container{
    z-index: 2;
    width: 65%;
}
@media(max-width: 900px){
    .document-layout{
        position: relative;
    }
    .document-layout .container{
        width: 100%;
    } 
    .document-layout .chat-app{
        position: fixed;
        z-index: 5;
        right: 20px;
        bottom: 20px;
        width: 380px;
        border-radius: 5px;
        height: 650px;
        box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
        -moz-box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
        -webkit-box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
        -o-box-shadow: 4px -3px 7px rgba(0,0,0,0.2);
    }
}
@media(max-width: 600px){
    .document-layout .chat-app{
        width: 350px;
        height: 600px;
    }
}
@media(max-width: 450px){
    .document-layout .chat-app{
        bottom: auto;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}